.card {
   width: 55%;
   margin: 30% auto 5% auto;
   box-shadow: 4px 3px 8px;
   min-width: 200px;
   padding: 10px;
}

.btn {
   width: 15%;
}

.Home {
   width: 80%;
}

.Home-Title {
   display: flex;
   box-shadow: 4px 3px 8px;
   border-radius: 15px;
   height: 8em;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.Home-Div {
   width: 80%;
   height: 100vh;
   margin: 0 auto;
   background: white;
}

.Home-P {
   font-size: 1.5em;
}