.card {
   width: 40%;
   margin: 30% auto 5% auto;
   box-shadow: 4px 3px 8px;
   min-width: 200px;
   padding: 10px;
}

.btn {
   width: 15%;
}

.Home {
   width: 80%;
}

.Home-Title {
   display: flex;
   box-shadow: 4px 3px 8px;
   border-radius: 15px;
   height: 8em;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.Home-Div {
   width: 80%;
   height: 100vh;
   margin: 0 auto;
   background: rgb(54, 40, 10);
   background: linear-gradient(90deg, rgba(54, 40, 10, 1) 0%, rgba(87, 61, 1, 1) 23%, rgba(235, 186, 60, 1) 100%);
   padding: 2%;
}